<div class="login-container">
    <div class="logo-side">
        <img src="assets/images/logo.jpg" alt="Pennywise Logo" class="logo" />
    </div>
    <div class="login-side">
        <h2 class="login-title">Pennywise</h2>
        <div class="login-form">
            <h2>Login</h2>
            <form (ngSubmit)="login()" #form="ngForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        id="username"
                        [(ngModel)]="username"
                        name="username"
                        required
                        class="form-control"
                        placeholder="Enter your username"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        [(ngModel)]="password"
                        name="password"
                        required
                        class="form-control"
                        placeholder="Enter your password"
                    />
                </div>
                <div class="form-group">
                    <button
                        type="submit"
                        [disabled]="form.invalid"
                        class="btn btn-primary"
                    >
                        Login
                    </button>
                </div>
                <!-- <div *ngIf="!loginFailed" class="error-message">
                    <p>Credentials are invalid. Please try again.</p>
                </div> -->
                <div class="form-group">
                    <a href="/forgot-password">Forgot Password?</a>
                </div>
                <div class="form-group">
                    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
</div>